/build/
/coverage/
**/reports/
/ci_tests.json
*test_result.osm
*test_result.idf
*diffs.json
*btap_data_report_test_result.json
*ecm_envelope_test_result.json
*qaqc_report_test_result.json
/necb/regression_tests/output_diffs/
/necb/regression_tests/output_idf/
/necb/regression_tests/output_osm/