# IDE files
/.idea
/netbeans
/.vscode

# Developer installation
/.bundle/
/Gemfile.lock
/vendor

# Build output
/pkg/

# Rubocop output
/.rubocop
/.rubocop-http*

# Doc generation output
/.yardoc
/doc/

# Test output
output/
coverage/
/spec/reports/
/test/reports
/test/necb/data/*test_results.csv

# auto generated CI files
/test/ci_test_files/models
/test/ci_test_files/*.rb

# Miscellaneous
/lib/openstudio-standards/prototypes/common/do_not_edit_metaclasses.rb
/test/refactor/
/data/costing/rs_means_auth
/tmp/
*.xlsx
!Scorecard*.xlsx
*.DS_Store
/data/standards/openstudio_standards_duplicates_log.csv
/data/standards/export
/data/geometry/../*.osw

## Python ignores
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST



