# IDE files
/.idea
/netbeans

# Developer installation
/.bundle/
/Gemfile.lock
/vendor

# Build output
/pkg/

# Rubocop output
/.rubocop
/.rubocop-http*

# Doc generation output
/.yardoc
/doc/

# Test output
output/
coverage/
/spec/reports/
/test/reports
/test/necb/data/*test_results.csv

# auto generated CI files
/test/ci_test_files/models
/test/ci_test_files/*.rb

# Miscelaneous
/lib/openstudio-standards/prototypes/common/do_not_edit_metaclasses.rb
/test/refactor/
/data/costing/rs_means_auth
/tmp/
