# IDE files
/.idea
/netbeans

# Developer installation
/.bundle/
/Gemfile.lock

# Build output
/pkg/

# Rubocop output
/.rubocop

# Doc generation output
/.yardoc
/doc/

# Test output
output/
coverage/
/spec/reports/
/test/doe_prototype/output
/test/reports

# Miscelaneous
/test/refactor/
/data/costing/rs_means_auth
/tmp/
*.log


