--output-dir openstudio-standards/doc/
openstudio-standards/lib/openstudio-standards/refactor/standards/**/*.rb
-
openstudio-standards/docs/UserQuickStartGuide.md
openstudio-standards/docs/Architecture.md
openstudio-standards/docs/DeveloperInformation.md
openstudio-standards/docs/CodeStructure.md
openstudio-standards/docs/AddingAStandard.md
openstudio-standards/License.txt
openstudio-standards/LGPL-2.1
