/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea
/netbeans
/.rubocop

.gitignore
*.log
*.json
/test/doe_prototype/output
/test/doe_prototype/output
/data/

